<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAMVAAD LOGIN</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="/stylesheets/register.css">
</head>
<body>
    <div class="main">
      <div class="container b-container" id="b-container">
        <form class="form" id="b-form" method="post" action="/login">
          <h2 class="form_title title">Log in to Chatbot</h2>
          
          <span class="form__span">Enter credentials</span>
          <input class="form__input" type="text" placeholder="Username" name="username">
          <input class="form__input" type="password" placeholder="Password" name="password">
         <br>
          <a class="form_link" href="/register">Don't have an account? Register here</a>
          <button class="form__button button submit">LOG IN</button>
        </form>
      </div>
      </div>
    </div>
</body>
</html>
</body>
</html>